<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Take a quick tour to see how it works</h2>
        <div class="video-container">
            <iframe src="//player.vimeo.com/video/90299717?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div><!--//video-container-->
    </div><!--//container-->
</section>
