<root>
  <landing-nav></landing-nav>

  <div class="bg-slider-wrapper">
      <!--  controls the top section background, it will keep changing-->
      <div class="flexslider bg-slider">
          <ul class="slides">
              <li class="slide slide-1"></li>
              <li class="slide slide-2"></li>
              <li class="slide slide-3"></li>
          </ul>
      </div>
  </div>

  <landing-top></landing-top>

  <div class="sections-wrapper">
    <landing-why></landing-why>
    <landing-testimonials></landing-testimonials>
    <landing-calltoaction></landing-calltoaction>
  </div><!--//section-wrapper-->

  <landing-footer></landing-footer>
  <landing-video></landing-video>
</root>
